Import the modules used in this project

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

Import the data scraped from immoweb.

In [3]:
data = pd.read_csv(".\data\output.csv")
print(data.head())
print(data.info)

         id type of property subtype of property    locality         province  \
0  10679324            HOUSE               HOUSE     Seraing            Liège
1  10679325            HOUSE               HOUSE        Vise            Liège
2  10679351            HOUSE               VILLA   Vilvoorde  Flemish Brabant
3  10679090            HOUSE               HOUSE  Oudenaarde    East Flanders
4  10678835            HOUSE               HOUSE     Dilbeek  Flemish Brabant

   postalCode   price      type of sale  number of bedrooms  living area  ...  \
0        4100  159000  residential_sale                   3           14  ...
1        4600  229000  residential_sale                   3           19  ...
2        1800  430000  residential_sale                   3           17  ...
3        9700  439000  residential_sale                   2           21  ...
4        1700  529000  residential_sale                   4           29  ...

  open fire terrace  terrace area garden  garden area total property area  \
0     False    True          64.0   True        106.0                87.0
1     False    True         136.0    NaN          NaN               145.0
2     False    True          40.0   True        400.0               132.0
3     False    True          25.0   True        420.0               161.0
4     False    True           NaN    NaN          NaN               315.0

   total land area  number of facades  swimming pool  state of the building
0            145.0                2.0          False         just_renovated
1            184.0                3.0          False                   good
2            623.0                3.0          False                   good
3            680.0                4.0          False                 as_new
4           8002.0                3.0          False            to_renovate

[5 rows x 22 columns]
<bound method DataFrame.info of              id type of property subtype of property     locality  \
0      10679324            HOUSE               HOUSE      Seraing
1      10679325            HOUSE               HOUSE         Vise
2      10679351            HOUSE               VILLA    Vilvoorde
3      10679090            HOUSE               HOUSE   Oudenaarde
4      10678835            HOUSE               HOUSE      Dilbeek
...         ...              ...                 ...          ...
11987   9828729        APARTMENT           APARTMENT      Waregem
11988  10620175        APARTMENT           APARTMENT       Chênée
11989  10608798        APARTMENT         FLAT_STUDIO      Antwerp
11990  10461769        APARTMENT         FLAT_STUDIO      Antwerp
11991  10565540        APARTMENT           APARTMENT  Middelkerke

              province  postalCode   price      type of sale  \
0                Liège        4100  159000  residential_sale
1                Liège        4600  229000  residential_sale
2      Flemish Brabant        1800  430000  residential_sale
3        East Flanders        9700  439000  residential_sale
4      Flemish Brabant        1700  529000  residential_sale
...                ...         ...     ...               ...
11987    West Flanders        8790   95000  residential_sale
11988            Liège        4032  100000  residential_sale
11989          Antwerp        2060  115000  residential_sale
11990          Antwerp        2060  115000  residential_sale
11991    West Flanders        8430  120000  residential_sale

       number of bedrooms  living area  ... open fire terrace  terrace area  \
0                       3           14  ...     False    True          64.0
1                       3           19  ...     False    True         136.0
2                       3           17  ...     False    True          40.0
3                       2           21  ...     False    True          25.0
4                       4           29  ...     False    True           NaN
...                   ...          ...  ...       ...     ...           ...
11987                   1            0  ...     False     NaN           NaN
11988                   1           20  ...     False     NaN           NaN
11989                   0            0  ...     False     NaN           NaN
11990                   1            0  ...     False     NaN           NaN
11991                   1            0  ...     False    True           NaN

      garden  garden area total property area  total land area  \
0       True        106.0                87.0            145.0
1        NaN          NaN               145.0            184.0
2       True        400.0               132.0            623.0
3       True        420.0               161.0            680.0
4        NaN          NaN               315.0           8002.0
...      ...          ...                 ...              ...
11987    NaN          NaN                 NaN              NaN
11988    NaN          NaN                59.0              0.0
11989    NaN          NaN                23.0              NaN
11990    NaN          NaN                23.0              NaN
11991    NaN          NaN                39.0              NaN

       number of facades  swimming pool  state of the building
0                    2.0          False         just_renovated
1                    3.0          False                   good
2                    3.0          False                   good
3                    4.0          False                 as_new
4                    3.0          False            to_renovate
...                  ...            ...                    ...
11987                NaN          False          to_be_done_up
11988                2.0            NaN            to_renovate
11989                4.0            NaN                   good
11990                4.0            NaN                   good
11991                NaN          False            to_renovate

[11992 rows x 22 columns]>

Cleaning up the data:
- replace the NaN values per column
- correct some spellings (eg: remove the accent)
- checking if the data types are correct

In [4]:
#this code shows how messy the locality variable can be:
data[data["postalCode"]==1000]["locality"].value_counts()

locality
Bruxelles                222
Brussels City             57
BRUXELLES                 26
Brussels                  17
Brussel                   13
Bruxelles ville            9
Pentagone (Bruxelles)      7
Nord-Est (Bruxelles)       3
Nord (Bruxelles)           1
Louise (Bruxelles)         1
Pentagone (Brussel)        1
Name: count, dtype: int64

In [36]:
# import the gemeenten en postcode info from https://www.metatopos.eu/belgcombiN.html
post_code=pd.read_excel("data\Belgiesche gemeenten met postcodes.xlsx")
post_code.head()

,Post-,Gemeente,Deelgemeente,Provincie,Inwoners,Facili-,Vertaling naam
0,code,NaN,NaN,NaN,NaN,teiten,(deel)gemeente
1,1000,Brussel,NaN,Brussels Hoofdstedelijk Gewest,178552.0,N+F,Bruxelles
2,1000,Bruxelles,NaN,Brussels Hoofdstedelijk Gewest,NaN,N+F,Brussel
3,1030,Schaarbeek,NaN,Brussels Hoofdstedelijk Gewest,132590.0,N+F,Schaerbeek
4,1030,Schaerbeek,NaN,Brussels Hoofdstedelijk Gewest,NaN,N+F,Schaarbeek

Clean up the gemeente info first:
- remove deelgemeente, inwoners, facili-, vertaling naam coloums
- drop nan
- remove the french translation

In [37]:
post_code.drop(columns=['Deelgemeente','Inwoners','Facili-','Vertaling naam'],inplace=True)
post_code.dropna(inplace=True)
post_code.columns = ["Postalcode","Gemeente","Province"]
post_code.drop_duplicates(subset="Postalcode",keep='first',inplace =True)
post_code

     Postalcode       Gemeente                        Province
1          1000        Brussel  Brussels Hoofdstedelijk Gewest
3          1030     Schaarbeek  Brussels Hoofdstedelijk Gewest
5          1040      Etterbeek  Brussels Hoofdstedelijk Gewest
6          1050         Elsene  Brussels Hoofdstedelijk Gewest
8          1060   Saint-Gilles  Brussels Hoofdstedelijk Gewest
...         ...            ...                             ...
2892       9981  Sint-Laureins                 Oost-Vlaanderen
2893       9982  Sint-Laureins                 Oost-Vlaanderen
2894       9988  Sint-Laureins                 Oost-Vlaanderen
2896       9991       Maldegem                 Oost-Vlaanderen
2897       9992       Maldegem                 Oost-Vlaanderen

[1144 rows x 3 columns]